
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    /* padding: 0 20px; */
    
    box-sizing: border-box;
    
}

.container{
  /* max-width: 1440px;
  width: 100%; */
  margin: 0 auto;
  /* padding: 0 20px; */
}
.header{
 
  width: 100%;
  padding: 0 50px;
 
}
/* shared styles */
.display-flex {
  display: flex;
}
/* primary background color */
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* dark 01 */
.text-black{
  color: #131313;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
.text-orange{
  color: #FF900E;
}

.btn-primary{
  max-width: 180px;
  width: 100%;
  /* margin: 0 auto; */
  background-color: #FF900E;
  color: #fff;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;

}

.main{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

}
main>section{
  margin-top: 120px;
}

/* header styles */



/* navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand-title{
  font-weight: 700;
  font-size: 2.7rem;
}
.nav-links{
  gap: 20px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;

}
.nav-item {
  list-style: none;
  gap: 15px;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content{
  max-width: 862px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
  /* border-radius: 8px; */
  /* max-width: 1440px; */
  width: 100%;
  margin-bottom: 50px;
}

/* teams styles */
.teams{
  align-items: center;
 /* justify-content: flex-start; */
  gap:76px;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  
}
.team-image-container>img{
  max-width: 342px;
  width: 100%;
  border-radius: 8px;
}
.team-features{
  max-width: 576px;
  width: 100%;
  flex-direction: column;
  /* justify-content: flex-start; */
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
.team-features-description{
  margin: 0 0 32px 0;
  font-size: 1rem;
}
#quick-list{
  font-weight: 500;
}
/* facts related styles */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 24px;
  /* max-width: 1200px;
  width: 100%; */
  margin: 0 auto;
  justify-items: center;
  /* justify-content: center; */
}
.section-intro{
  max-width: 600px;
  width: 100%;
  margin: 0 auto 48px auto;
  text-align: center;
}
.section-tagline{
  max-width: 540px;
  width: 100%;

}
.fact-card{
  border: 1px solid #FF900E; 
  max-width: 240px;
  width: 100%;
  height: 240px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
}

.fact-description{
  font-size: 1.25rem;
  font-weight: 600;
  /* text-align: center; */
  margin: 0;
}

/* sponsors section */
.sponsor-images{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 120px;
  margin-top: 40px;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
}

.sponsor-images>img{
  filter: grayscale(100);
}

/* feature section related styles */
.feature-container{
  justify-content: space-between;
  /* align-items: center; */
  gap: 140px;
  /* margin-top: 120px; */
     align-items: center;
}
.feature-left{
  /* display: flex; */
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  width: 100%;
  align-items: center;
}
#feature-section-border{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  margin: 0;
  
}
.feature-intro{
  flex-direction: column;
  gap: 20px;
  
  /* margin-bottom: 30px; */
}


.feature-cards-container{
  flex-direction: column;
    gap: 20px;
}

.feature-card{
  display: flex;
  flex-direction: column;
  /* max-width: 520px;
  width: 100%; */
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 40px 30px;
}

.feature-card-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.feature-card-description{
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.feature-image-container{
 
  width: 100%; 
  
}
.feature-image-container>img{
  width: 100%;
  /* height: 850px; */

}

#experience-badge{
  padding: 45px 42px;
  max-width: 342px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -70px;
}
#experience-year{
  font-size: 3rem;
  font-weight: 700;
}


/* responsive media queries  */
/* for smaller devices */
@media screen and (max-width:576px){
  .navbar, 
  .nav-flex, 
  .teams,
  .feature-container{
    flex-direction: column;
  }
 

  .banner-title{
    font-size: 2.5rem;
  }

  .banner-description{
    font-size: 1rem;
  }
  .team-features{
    align-items: center;
    text-align: center;
  }
  .team-image-container, 
  .facts-container{
    grid-template-columns: 1fr;
  }

  .fact-card{
    /* margin: 0 auto; */
  }
  .sponsor-images{
     display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 40px;
    /* padding: 20px; */
    /* justify-items: center; */

  }
  .sponsor-images>img{
    max-width: 120px;
    width: 100%;
  }

  .feature-container{
    justify-content: center;
    gap:40px;
  }
   .feature-intro{
    margin: 0 auto;
    padding: 0 20px;
   
  }
  /* .feature-intro p{
 text-align: center;
  } */
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
  .feature-card{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  
 
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
  .teams{
    flex-direction: column;
   
  }
  .team-image-container, .facts-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .team-features{
    /* align-items: center; */
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
  }
  .section-title, 
  .team-features-description{
    text-align: center;
  }
  .facts-container{
    /* gap: 20px; */
  }

    .sponsor-images{
    grid-template-columns: repeat(3, 1fr);
    max-width:800px;
    width: 100%;
    /* margin: 0 auto; */
    gap: 40px;
    
  }
  
}