
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex {
  display: flex;
}
/* primary background color */
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* dark 01 */
.text-black{
  color: #131313;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
.text-orange{
  color: #FF900E;
}

.btn-primary{
  /* max-width: 180px;
  width: 100%; */
  margin: 0 auto;
  background-color: #FF900E;
  color: #fff;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;

}

.main{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
main>section{
  margin-top: 120px;
}

/* header styles */



/* navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand-title{
  font-weight: 700;
  font-size: 2.7rem;
}
.nav-links{
  gap: 20px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;

}
.nav-item {
  list-style: none;
  gap: 15px;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content{
  max-width: 862px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
  /* border-radius: 8px; */
  /* max-width: 1440px; */
  width: 100%;
}

/* teams styles */
.teams{
  align-items: center;
 
  gap:76px;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  
}
.team-image-container>img{
  max-width: 342px;
  width: 100%;
  border-radius: 8px;
}
.team-features{
  max-width: 576px;
  width: 100%;
}
.team-features-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
.team-features-description{
  margin: 0 0 32px 0;
  font-size: 1rem;
}
#quick-list{
  font-weight: 500;
}

/* responsive media queries  */
/* for smaller devices */
@media screen and (max-width: 768px){
  .navbar, 
  .nav-flex, 
  .teams{
    flex-direction: column;
  }

  .banner-title{
    font-size: 2.5rem;
  }

  .banner-description{
    font-size: 1rem;
  }
  .team-image-container{
    grid-template-columns: 1fr;
  }
 
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
  .teams{
    flex-direction: column;
   
  }
  .team-image-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .team-features{
    /* align-items: center; */
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .team-features-title, 
  .team-features-description{
    text-align: center;
  }
}